.video-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  max-width: 550px;
  padding: 1em;
  background-color: var(--black-90);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 1em auto;
}

.video-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

.vc-thumbnail {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.vc-thumbnail img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
  display: block;
}

.vc-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  color: #fff;
  font-weight: 500;
  transition: opacity 0.3s ease;
}

.vc-thumbnail:hover .vc-overlay {
  opacity: 1;
}

.vc-title h4 {
  margin-top: 0.8em;
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
  color: var(--white-50);
}