.item-list {
    display: grid;
    place-items: center;
    justify-content: center;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--space-lg);
    row-gap: var(--space-2xl);
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-bottom: var(--space-2xl);
    padding: 0 var(--space-md);
}

@media (min-width: 772px) {
    .item-list {
        grid-template-columns: repeat(3, 1fr);
        gap: var(--space-xl);
        row-gap: var(--space-3xl);
    }
}

@media (min-width: 1098px) {
    .item-list {
        grid-template-columns: repeat(4, 1fr);
        gap: var(--space-2xl);
    }
}