.hero-section {
  background-image: url(../../assets/images/Venison\ Kofta\ -\ Garlic\ Paprika.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: -5.6em;
  position: relative;
}

.hero-section::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* Example linear gradient from top to bottom */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,  /* top */
    rgba(0, 0, 0, 0.25) 50%, /* middle */
    rgba(0, 0, 0, 0.5) 100% /* bottom */
  );
}


.hs-greeting {
  margin: 6em 2em;
  max-width: 280px;
  display: flex;
  flex-direction: column;
  gap: 1.6em;
  z-index: 1;
}

.hs-greeting h1 {
  color: var(--white-100);
  font-weight: 300;
  font-size: 1.5rem;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

.hsg-search-meats-btn {
  width: 200px;
}

.about-us-section {
  padding: 6em 1em;
}

.aus-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  width: 90%;
  max-width: 900px;
  margin: auto;
  align-items: center;
}

.about-us-section img {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.aus-info {
  color: var(--white-50);
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.aus-info h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1.6rem;
}

.aus-info p {
  font-size: 0.8rem;
  text-align: start;
}

.aus-btn {
  display: block;
  max-width: 160px;
  margin-top: 1em;
}

.bestsellers-section {
  padding: 4em 1em;
  position: relative;
}

.bs-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 4em;
}

.award-icon {
  width: 42px;
  fill: var(--white-50);
}

.bs-title h2 {
  color: var(--white-50);
  font-weight: 300;
  text-transform: uppercase;
}

.bs-btn {
  display: block;
  margin: 4em auto 0 auto;
  max-width: 260px;
}

.home-loading {
  position: fixed;
  width: 100%;
  height: 105vh;
  top: 0;
  left: 0;
  z-index: 1000;
  background: radial-gradient(circle, rgba(32,32,32,1) 0%, rgba(8,8,8,1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-out;
}

.home-loading-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}

.home-loading-content img {
  width: 180px;
}

.home-loading-content span {
  font-size: 1.2rem;
  color: #646464;
}

@media (min-width: 598px) {
  .hero-section {
    justify-content: flex-end;
    align-items: center;
  }

  .hs-greeting {
    margin-right: 2em;
  }

  .aus-grid {
    grid-template-columns: 25% 75%;
  }
}

@media (min-width: 1200px) {
  .hs-greeting {
    margin-right: 12em;
  }
}

@media (min-width: 1400px) {
  .hs-greeting {
    margin-right: 20em;
    transform: scale(1.1);
  }
}

@media (max-width: 767px) {
  .hero-section {
    background-attachment: initial;
  }
}
